/*Misc CSS*/

@font-face {
  font-family: Roboto;
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Work Sans;
  src: url("./fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

#bootstrap-overrides a {
  text-decoration: none;
  color: #808080;
  transition: 0.2s;
}

#bootstrap-overrides a:hover {
  color: #fff;
  transition: 0.2s;
}

.roboto {
  font-family: Roboto;
}

.work-sans {
  font-family: Work Sans;
  font-variation-settings: "wght" 100;
}

.work-sans-200 {
  font-family: Work Sans;
  font-variation-settings: "wght" 200;
}

.work-sans-300 {
  font-family: Work Sans;
  font-variation-settings: "wght" 300;
}

.work-sans-400 {
  font-family: Work Sans;
  font-variation-settings: "wght" 400;
}

.work-sans-500 {
  font-family: Work Sans;
  font-variation-settings: "wght" 500;
}
.nav-mt {
  margin-top: 57px;
}

.fixed-top-2 {
  position: fixed !important;
  top: 55px;
  right: 0;
  left: 0;
  z-index: 1030;
}

html,
body {
  background-color: black;
}

#bootstrap-overrides div {
  background-color: black;
}

.black {
  background-color: #000;
}

.options {
  transition: 0.2s;
}
.options:hover {
  transform: scale(1.1);
  font-weight: bold;
  transition: 0.2s;
}

.primary {
  color: #dfdfdf !important;
}

.secondary {
  color: #808080;
}

.title {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.text-white {
  color: #fff;
}

.centering {
  text-align: center;
}

.padding-fit {
  padding-top: 150px;
}

.padding {
  padding-top: 15vh;
}

.flex-center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.inline {
  display: inline;
}

.vl {
  border-left: 1px solid #808080;
  height: 20px;
  align-self: center;
  background: #c9c3c3;
}

.content-border {
  border: 1px solid #808080;
}

.content-border-top {
  border-top: 1px solid #808080;
}

.bb {
  border-bottom: 1px solid #808080;
}

.dimgrey {
  background: #343333 !important;
}

.hr {
  width: 10vw;
  border-top: 1px solid #808080;
}

.hr-long {
  width: 90vw;
  border-top: 1px solid #808080;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/*About Component*/
.medium {
  font-size: 1.1em;
}

.profile {
  border: 1px solid #808080;
  height: 15vh;
  width: auto;
  border-radius: 20px;
}

.top-nav {
  background: #000;
}

.text-black {
  color: #000;
}

.dot {
  height: 2px;
  width: 15px;
  margin: 7px;
  background-color: #808080;
  display: inline-block;
}
.dot-nav {
  height: 5px;
  width: 5px;
  background-color: #dfdfdf !important;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.dot-active {
  height: 2px;
  width: 15px;
  margin: 7px;
  background-color: #dfdfdf;
  display: inline-block;
}

/*Portfolio Component*/
.dropdown button {
  background: transparent;
  color: #dfdfdf;
  border: none;
}

button:focus {
  outline: none !important;
}

#bootstrap-overrides .dropdown-item {
  color: #dfdfdf;
  background-color: black;
}

#kelmone-vid:focus {
  outline: none;
}

#bootstrap-overrides .dropdown-menu {
  padding: 0 0;
}

#bootstrap-overrides .btn-primary {
  background: transparent;
  border: none;
}

#bootstrap-overrides .btn-primary:focus {
  box-shadow: 0 0 0 0.1rem #808080;
  border-radius: 0;
}

.portfolio-margin {
  margin-top: 134px;
}

.gallery-img {
  width: 30vw;
  height: auto;
  border: 1px solid #808080;
}

.gallery-img-portrait {
  width: auto;
  height: 55vh;
  border: 1px solid #808080;
}

#bootstrap-overrides .carousel-indicators li {
  width: 5px;
}

/*Projects Component*/

/*Contact Component*/
.larger {
  font-size: 1.3em;
}

.contact {
  transition: all 0.2s ease-in-out;
}

.contact:hover {
  transform: scale(1.1);
}

.w-90 {
  width: 90vw;
}

@media screen and (min-width: 576px) {
  .hr-long {
    width: 60vw;
    border-top: 1px solid #808080;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }

  .padding {
    padding-top: 0;
  }

  .larger {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 992px) {
  .portfolio-padding {
    margin-top: 250px;
  }

  .hr-long {
    width: 50vw;
    border-top: 1px solid #808080;
  }
}

@media screen and (min-width: 1200px) {
}
